<div class="container mt-5">	
	<h4 class="p-2 text-white">Users</h4>
		<table class="table table-bordered table-light shadow">
			<thead>
				<tr>
					<th>User Id</th>
					<th>User Name </th>
					<th>Address</th>
					<th>Gender</th>
					<th>Phone</th>
					<th>Role</th>
				</tr>
			</thead>
			<tbody>
					<tr *ngFor="let b of users$ | async">
						<td>{{b.userid }}</td>
						<td>{{b.uname }}</td>
						<td>{{b.address }}</td>
						<td>{{b.gender }}</td>
						<td>{{b.phone }}</td>
						<td>{{b.role }}</td>
					</tr>
			</tbody>
		</table>
	</div>