<div class="container" style="min-height: 100vh;">	
    <a href="packages">
    <div id="one"class="feature one shadow-lg p-2 rounded">
        <h5>PACKAGES</h5>
        <p>Get customized packages as per your convinence</p>
    </div></a>
    <a href="flights">
    <div id="two"class="feature two shadow-lg p-3 rounded">
        <h5>FLIGHTS</h5>
        <p>Get exciting deals on flights</p>
    </div></a>
    <a href="hotels">
    <div id="three"class="feature three shadow-lg p-3 rounded">
        <h5>HOTELS</h5>
        <p>Get exciting deals on hotels</p>
    </div></a>
    <a href="places">
    <div id="four" class="feature four shadow-lg p-3 rounded">
      <h5>PLACES</h5>
      <p>Famous places and weekend getaways</p>
    </div></a>
    <img class="image" src="assets\img\pngwing.com.png" class="image"alt="">
</div>
<div class="clearfix"></div>
<div class="container">
<div>
<h1 class="display-4 f-title">F L I G H T S</h1><br><br>
<p class="f-para">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<br>  <a href="flights" class="f-btn btn btn-primary">F L Y ! !</a><br>

</div>

<img src="assets/img/plane.png" class="f-img click" alt="">

</div>
<div class="main-two">
<div class="container">
<h1 class="display-4 h-title">H O T E L S</h1><br><br>
<p class="h-para">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<br> <div class="button-one">

 <a href="hotels" class="h-btn btn btn-primary">B O O K</a><br>
</div>
</div>

<img src="assets/img/hotel1.png" class="h-img-one h-imgs" alt="">
<img src="assets/img/hotel2.png" class="h-img-two h-imgs" alt="">
<img src="assets/img/hotel3.png" class="h-img-three h-imgs" alt="">
<img src="assets/img/hotel4.png" class="h-img-four h-imgs" alt="">

</div>