<div class="container mt-5">	
	<a type="button" class="btn btn-success btn-sm float-right" routerLink="/add-place" *ngIf="auth.isAdmin | async">
  Add New
</a>
	<h4 class="p-2 text-white">Places Page</h4>
	
	<div class="row mt-5 mb-5 fly-box" *ngFor="let p of places">
		<div class="offset-1 col-md-4 shadow-lg p-3 rounded p-box">
			<img class="p-img img-thumbnail" style="width:150px" src="http://localhost:8081/{{ p.photo }}" alt="image">
		</div>
		<div class="col-md-6 shadow-lg p-3 desc rounded">
		  <button *ngIf="auth.isAdmin | async" class="btn btn-danger btn-sm float-right m-2" (click)="deletePlace(p.id)">Delete</button>
	    <h2>{{p.pname }}</h2>
	    <p>{{p.description }}</p>
	  </div>
	  <h1 class="fly">{{p.pname }}</h1>
	</div>

	</div>