<div class="container-fluid mt-5">	
	<h4 class="p-2 text-white">All Bookings</h4>
	
		<table class="table table-bordered table-light table-striped shadow">
			<thead class="table-primary">
				<tr>
					<th>Booking Id</th>
					<th>Tour </th>
					<th>Flight</th>
					<th>Hotel</th>
					<th>Booking Date</th>
					<th>User Name</th>
					<th>Insurance</th>
					<th>Amount</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>				
					<tr *ngFor="let b of bookings$ | async">
						<td>{{b.bid }}</td>
						<td>{{b.tour.pname }}</td>
						<td>{{b.flight.fname }}</td>
						<td>{{b.hotel.hname }}</td>
						<td>{{b.bdate }}</td>
						<td>{{b.user.uname }}</td>
						<td>{{b.insurance ? 'Yes':'No'}}</td>
						<td>&#8377; {{b.tour.price+b.flight.fare+b.hotel.fare+ (b.insurance ? 1000:0)  }}</td>
						<td><button class="btn btn-danger btn-sm" (click)="cancelBooking(b.bid)">Cancel</button></td>
					</tr>
			</tbody>
		</table>
	</div>