<div class="container mt-5" *ngIf="!issubmitted">	
	<h4 class="p-2 text-white">Bookings Page</h4>
	
	<div class="row">
			<div class="col-sm-5 mx-auto">
				<form [formGroup]="bookForm" (submit)="saveBooking()" class="card shadow">					
					<div class="card-body">
						<div class="form-group">
							<label>Select Tour</label>
							<select readonly required name="tour" formControlName="tour" class="form-control">
								<option value="">Select Tour</option>
								<option *ngFor="let t of tours$ | async" value="{{t.pid}}">{{t.pname }} - Rs.{{t.price}}</option>
							</select>
						</div>
						
						<div class="form-group">
							<label>Select Flight</label>
							<select required name="flight" formControlName="flight" class="form-control">
								<option value="">Select Flight</option>								
								<option value="{{f.id}}" *ngFor="let f of flights$ | async">{{f.fname }} - Rs.{{f.fare}}</option>								
							</select>
						</div>
						
						<div class="form-group">
							<label>Select Hotel</label>
							<select required name="hotel" formControlName="hotel" class="form-control">
								<option value="">Select Hotel</option>								
								<option value="{{h.id }}" *ngFor="let h of hotels$ | async">{{h.hname }} - Rs.{{h.fare}}</option>								
							</select>
						</div>
						
						<div class="form-group">
							<label for="insurance">Travel Insurance</label>
							<input type="checkbox" id="insurance" formControlName="insurance" class="form-check-inline" name="insurance" value="1">
						</div>
						
						<div class="form-group">
							<label for="insurance">Booking Date</label>
							<input type="date" class="form-control" formControlName="bdate" name="bdate">
						</div>
						<button type="submit" class="btn btn-primary float-right">Proceed to Payment</button>
					</div>
				</form>
			</div>            
		</div>	
</div>
