<div class="container mt-5">
	<a routerLink="/add-package" class="btn btn-success btn-sm float-right" *ngIf="auth.isLoggedIn &&  auth.isAdmin | async">
  Add New
</a>
	<h4  class="p-2 text-white">Packages Page</h4>

    <div class="hotel" *ngFor="let item of packages">
        <div class="container">
          <button *ngIf="auth.isAdmin | async" class="btn btn-danger btn-sm float-right m-2 delbtn" (click)="deletePackage($event,item.pid)">Delete</button>
          <button *ngIf="auth.isAdmin | async" class="btn btn-primary btn-sm float-right m-2 delbtn" (click)="editPackage(item.pid)">Edit</button>
          <a class="ht" routerLink="/book/{{item.pid }}">
          <div class="row shadow-lg p-3 mt-5 mb-5 rounded" style="clear:both">
            <div class="col-md-4 ">
              <img class="h-img shadow-lg" src="http://localhost:8081/{{item.photo }}" alt="image">
            </div>
            <div class="col-md-8">
              <p class="h-name">{{item.pname }}</p>
              <p class="h-add" style="margin-bottom:10px;margin-top:10px;">Location: {{item.city }}, {{item.country }}</p><br><br>
              <p class="h-add">Package start from</p>
              <p class="h-price">&#8377;{{item.price }}*/day</p>
            </div>
          </div>
          <h1 class="fff">BOOK</h1>
          </a>
        </div>
        </div> 

</div>