<div class="container mt-5">
    
    <div class="row">
        <div class="col-sm-7 mx-auto">
<form class="card shadow" [formGroup]="hotelForm" (submit)="saveHotel()">
    <div class="card-header text-center">
        <h5>Add New Hotel</h5>
    </div>
    <div class="card-body">
      <div class="form-group form-row">
          <label for="insurance" class="col-sm-4 col-form-label">Hotel Name</label>
          <div class="col-sm-8">
          <input type="text" class="form-control" formControlName="hname" name="hname">
          </div>
      </div>
      <div class="form-group form-row">
          <label for="insurance" class="col-sm-4 col-form-label">Country</label>
          <div class="col-sm-8">
          <input type="text" class="form-control" name="country" formControlName="country">
          </div>
      </div>
      <div class="form-group form-row">
          <label for="insurance" class="col-sm-4 col-form-label">State</label>
          <div class="col-sm-8">
          <input type="text" class="form-control" name="state" formControlName="state">
          </div>
      </div>
      <div class="form-group form-row">
          <label for="insurance" class="col-sm-4 col-form-label">City</label>
          <div class="col-sm-8">
          <input type="text" class="form-control" name="city" formControlName="city">
          </div>
      </div>
      <div class="form-group form-row">
          <label for="insurance" class="col-sm-4 col-form-label">Fare per nights</label>
          <div class="col-sm-8">
          <input type="text" class="form-control" name="fare" formControlName="fare">
          </div>
      </div>
      <button type="submit" class="btn btn-primary float-right">Save changes</button>
    </div>
    </form>
    </div>
    </div>
