<a routerLinkActive="active" routerLink="/">
  <div class="top-container">
    <div align="left" class="top">
      <img class="logo" src="assets\img\REIS-removebg-preview.png" alt="">
      <h3 align="left" class="title"><i>REIS<span *ngIf="auth.isLoggedIn | async">  {{(auth.user | async)?.uname}}</span></i></h3>
    </div>
  </div>
</a>
<nav class="navbar sticky-top" style="background:none;">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="bookings" *ngIf="auth.isLoggedIn | async">BOOKINGS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="users" *ngIf="auth.isLoggedIn && auth.isAdmin | async">USERS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="packages">PACKAGES</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="flights">FLIGHTS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="hotels">HOTELS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="places">PLACES</a>
    </li>
    <li class="nav-item" *ngIf="!(auth.isLoggedIn | async)">
      <a class="nav-link" routerLinkActive="active" routerLink="login">LOGIN</a>
    </li>
    <li class="nav-item" *ngIf="!(auth.isLoggedIn | async)">
      <a class="nav-link" routerLinkActive="active" routerLink="register">REGISTER</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="logout" (click)="logout()"  *ngIf="auth.isLoggedIn | async">LOGOUT</a>
    </li>
  </ul>
</nav>
