<div class="container mt-5">
    
    <div class="row">
        <div class="col-sm-7 mx-auto">
<form class="card shadow" [formGroup]="flightForm" (submit)="saveFlight()">
    <div class="card-header text-center">
        <h5>Add New Flight</h5>
    </div>
    <div class="card-body">
      <div class="form-group form-row">
          <label for="insurance" class="col-sm-4 col-form-label">Flight Name</label>
          <div class="col-sm-8">
          <input type="text" class="form-control" formControlName="fname" name="fname">
          </div>
      </div>
      <div class="form-group form-row">
          <label for="insurance" class="col-sm-4 col-form-label">From Country</label>
          <div class="col-sm-8">
          <input type="text" class="form-control" name="fromcountry" formControlName="fromcountry">
          </div>
      </div>
      <div class="form-group form-row">
          <label for="insurance" class="col-sm-4 col-form-label">From State</label>
          <div class="col-sm-8">
          <input type="text" class="form-control" name="state" formControlName="fromstate">
          </div>
      </div>
      <div class="form-group form-row">
          <label for="insurance" class="col-sm-4 col-form-label">From City</label>
          <div class="col-sm-8">
          <input type="text" class="form-control" name="city" formControlName="fromcity">
          </div>
      </div>
      <div class="form-group form-row">
          <label for="insurance" class="col-sm-4 col-form-label">To Country</label>
          <div class="col-sm-8">
          <input type="text" class="form-control" name="tocountry" formControlName="tocountry">
          </div>
      </div>
      <div class="form-group form-row">
          <label for="insurance" class="col-sm-4 col-form-label">To State</label>
          <div class="col-sm-8">
          <input type="text" class="form-control" name="state" formControlName="tostate">
          </div>
      </div>
      <div class="form-group form-row">
          <label for="insurance" class="col-sm-4 col-form-label">To City</label>
          <div class="col-sm-8">
          <input type="text" class="form-control" name="city" formControlName="tocity">
          </div>
      </div>
      <div class="form-group form-row">
          <label for="insurance" class="col-sm-4 col-form-label">Fare per nights</label>
          <div class="col-sm-8">
          <input  type="text" class="form-control" name="fare" formControlName="fare">
          </div>
      </div>
      <button type="submit" class="btn btn-primary float-right">Save changes</button>
    </div>
    </form>
    </div>
    </div>
