<div class="container mt-5">	
	<h4 class="p-2 text-white">User Registeration</h4>
	
	<div class="row">
			<div class="col-sm-7 mx-auto">
				<form [formGroup]="fg" class="card shadow" (submit)="submit()">
					<div class="card-body">
						<div class="form-group row">
							<label class="col-md-4 col-form-label">Your Name</label>
                            <div class="col-md-8">
							<input type="text" name="uname" formControlName="uname" class="form-control">
                            </div>
						</div>
						
						<div class="form-group row">
							<label class="col-md-4 col-form-label">Address</label>
                            <div class="col-md-8">
							<input type="text" name="address" formControlName="address" class="form-control">
                            </div>
						</div>
						
						<div class="form-group row">
							<label class="col-md-4 col-form-label">Phone</label>
                            <div class="col-md-8">
							<input type="text" maxlength="10" formControlName="phone" name="phone" class="form-control">
                            </div>
						</div>
						
						<div class="form-group row">
							<label class="col-md-4 col-form-label">Gender</label>
                            <div class="col-md-8">
							<select name="gender" class="form-control" formControlName="gender">
								<option>Male</option>
								<option>Female</option>
							</select>
                            </div>
						</div>
						
						<div class="form-group row">
							<label class="col-md-4 col-form-label">Email-ID</label>
                            <div class="col-md-8">
							<input type="text" name="userid" formControlName="userid" class="form-control">
                            </div>
						</div>
						
						<div class="form-group row">
							<label class="col-md-4 col-form-label">Password</label>
                            <div class="col-md-8">
							<input type="password" name="pwd" formControlName="pwd" class="form-control">
                            </div>
						</div>
						
						<button class="btn btn-primary float-right">Register</button>
					</div>
				</form>
			</div>
		</div>
		
	</div>