<div class="main" style="background-attachment:fixed;">
	<div class="clearfix"></div>
	<div class="container mt-5">
	<a *ngIf="auth.isAdmin | async" routerLink="/add-hotel" class="btn btn-success btn-sm float-right">
  Add New
</a>
		
	<h4 class="p-2 text-white">Hotels Page</h4>

	<div class="hotel" *ngFor="let h of hotels">
  <div class="container">
    <div class="row shadow-lg p-3 mt-5 mb-5 rounded">
      <div class="col-md-4 " >
        <img class="h-img shadow-lg" src="assets\img\pngwing5.png" alt="image">
      </div>
      <div class="col-md-8">
        <button *ngIf="auth.isAdmin | async" class="btn btn-danger btn-sm float-right m-2" (click)="deleteHotel(h.id)">Delete</button>
        <button *ngIf="auth.isAdmin | async" class="btn btn-primary btn-sm float-right m-2" (click)="editHotel(h.id)">Edit</button>
        <p class="h-name">{{h.hname }}</p>
        <p class="h-add">{{h.city }}, <br/>{{h.state }} {{h.country }}</p>
        <p class="h-price">&#8377;{{h.fare }}*</p>
        <p class="h-pricex">/night</p>
      </div>
    </div>
  </div>
  </div>
