<div class="container mt-5">	
	<h4 class="p-2 text-white">Login Page</h4>
	
		<div class="row">
			<div class="col-sm-5 mx-auto">
				<form class="card shadow" [formGroup]="loginForm" (submit)="validateForm()">
					<div class="card-body">
						<div class="form-group">
							<label>User ID</label>
							<input type="text" formControlName="userid" name="userid" class="form-control">
						</div>
						
						<div class="form-group">
							<label>Password</label>
							<input type="password" formControlName="pwd" name="pwd" class="form-control">
						</div>				
						<button class="btn btn-primary float-right">Login</button>
					</div>
				</form>
			</div>
		</div>
	</div>