<div class="container" style="margin-top: 100px;">
<div class="row">
    <div class="col-sm-6">
        <div class="card shadow">
            <div class="card-header">
                <h5>Booking Details</h5>
            </div>
            <div class="card-body">
                <table class="table table-borderless table-sm">
                    <tr>
                        <th>Booking ID</th>
                        <th>{{bookinginfo.bid}}</th>
                        <th class="text-right">Fare</th>
                    </tr>
                    <tr>
                        <th>Tour Package</th>
                        <th>{{bookinginfo.tour.pname}}</th>
                        <th class="text-right">&#8377; {{bookinginfo.tour.price}}</th>
                    </tr>
                    <tr>
                        <th>Flight Info</th>
                        <th>{{bookinginfo.flight.fname}}</th>
                        <th class="text-right">&#8377; {{bookinginfo.flight.fare}}</th>
                    </tr>
                    <tr>
                        <th>Hotel Info</th>
                        <th>{{bookinginfo.hotel.hname}}</th>
                        <th class="text-right">&#8377; {{bookinginfo.hotel.fare}}</th>
                    </tr>
                    <tr>
                        <th>Insurance</th>
                        <th>{{bookinginfo.insurance  ? 'Yes':'No'}}</th>
                        <th class="text-right">&#8377; {{bookinginfo.insurance ? 1000 : 0}}</th>
                    </tr>
                    <tr class="border-top border-bottom">
                        <th colspan="2">Total Amount</th>
                        <th class="text-right">&#8377; {{totalbill}}</th>								
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="offset-1 col-sm-5">
        <form class="card shadow" [formGroup]="paymentForm" (submit)="makePayment()">            
            <div class="card-body">
                <div class="form-group">
                    <label>Amount</label>
                    <input type="number" readonly value="{{totalbill}}" required name="amount" class="form-control">
                </div>
                                
                <div class="form-group">
                    <label>Select Payment Mode</label>
                    <select required name="mode" formControlName="mode" class="form-control">
                        <option value="">Select Payment Mode</option>
                        <option>UPI Payment</option>
                        <option>Paypal</option>
                        <option>Internet Banking</option>
                        <option>Debit/Credit Card</option>
                    </select>
                </div>
                
                <button class="btn btn-primary float-right">Complete Booking</button>
            </div>
        </form>
    </div>
</div>