<div class="container mt-5">
  
	<a routerLink="/add-flight" class="btn btn-success btn-sm float-right" *ngIf="auth.isAdmin | async">
  Add New
</a>
	<h4 class="p-2 text-white">Flights Page</h4>
  
	<div class="container" *ngFor="let f of flights$ | async">
    <h1 class="hhh">BOOK</h1>
    <div class="ticket shadow-lg p-3 mb-5 bg-white">
      <div class="row bg1">
        <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{f.fname }}</h3>
      </div>
      <button *ngIf="auth.isAdmin | async" class="btn btn-danger btn-sm float-right m-2 delbtn" (click)="deleteFlight(f.id)">Delete</button>
      <button *ngIf="auth.isAdmin | async" class="btn btn-primary float-left btn-sm m-2" (click)="editFlight(f.id)">Edit</button>
      <div class="row bg1">
        <p class="from">FROM: <br>{{f.fromcity }}, {{f.fromstate }} {{f.fromcountry }} </p>
        <p class="to">TO:<br>{{f.tocity }}, {{f.tostate }} {{f.tocountry }} </p>
        <p class="dept">DEPT TIME:<br> 7:00 AM</p>
        <p class="dest">DEST TIME: <br>11:00 PM</p>
        <p style="font-size: xxx-large;" class="eprice">&#8377; {{f.fare }}*</p>
      </div>
    </div>
    </div>
    
    
	</div>